* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background: rgb(189, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-content {
  background: #fff;
}