* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background: rgb(189, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-content {
  background: #fff;
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-radius: 15px;
  font-size: 18px;
}


/* Left-side */
.left-side {
  padding: 10px;
  margin-right: 30px;
}

.left-side label {
  display: block;
  margin-bottom: 5px;
}

.left-side input {
  padding: 5px;
  width: 300px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.select-tip-container {
  margin: 30px 0;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: 10px;
}

.button-grid button {
  font-size: 18px;
  padding: 10px;
  background: rgb(26, 77, 114);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.button-grid .custom-button {
  background: rgb(206, 215, 221);
  color: rgb(26, 77, 114);
  font-weight: bold;
  font-size: 20px;
}







/* Right-side */
.right-side {
  background: rgb(26, 77, 114);
  border-radius: 10px;
  padding: 10px;
}