* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background: rgb(189, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-content {
  background: #fff;
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-radius: 15px;
  font-size: 18px;
}

/* Left-side */
.left-side {
  padding: 10px;
  margin-right: 30px;
}

.left-side label {
  display: block;
  margin-bottom: 5px;
}

.left-side input {
  padding: 10px;
  width: 300px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: none;
  background: rgb(222, 234, 238);
}

.select-tip-container {
  margin: 30px 0;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: 10px;
}

.button-grid button {
  font-size: 18px;
  padding: 10px;
  background: rgb(26, 77, 114);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.button-grid button:hover {
  cursor: pointer;
  background: rgb(89, 162, 196);
}

.button-grid .custom-button {
  background: rgb(206, 215, 221);
  color: rgb(26, 77, 114);
  font-weight: bold;
  font-size: 20px;
}

/* .button-grid .custom-button:hover {

} */

/* Right-side */
.right-side {
  background: rgb(26, 77, 114);
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  width: 300px;
}

.tip-amount, .total-amount {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 30px 0;
}

.reset-button {
  width: 100%;
  margin: 100px auto 0;
  padding: 10px;
  font-size: 20px;
  font-weight: 800;
  background: rgb(145, 191, 223);
  border-radius: 5px;
  border: none;
  /* opacity: .4; */
}